<h1>Listing parcels</h1>

<table>
  <tr>
	<th>ID</th>
	<th>Account Number</th>
	<th>Parcel Number</th>
  </tr>

 <% @parcels.each do |parcel| %>
  <tr>
	<td><%=h parcel.id %></td>
	<td><%=h parcel.acct_no %></td>
	<td><%=h parcel.parcel_nb %></td>
    <td><%= link_to 'Show', parcel %></td>
    <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
    <td><%= link_to 'Destroy', parcel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New parcel', new_parcel_path %>