<h1>Listing owners</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Account no</th>
    <th>Percentage own</th>
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%=h owner.id %></td>
    <td><%=h owner.account_no %></td>
    <td><%=h owner.percentage_own %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New owner', new_owner_path %>