<p>
  <b>Last name:</b>
  <%=h @contact.last_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @contact.first_name %>
</p>

<p>
  <b>Company name:</b>
  <%=h @contact.company_name %>
</p>

<p>
  <b>Title:</b>
  <%=h @contact.title %>
</p>

<p>
  <b>Email:</b>
  <%=h @contact.email %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @contact.telephone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @contact.mobile %>
</p>

<p>
  <b>Fax:</b>
  <%=h @contact.fax %>
</p>

<p>
  <b>Blog:</b>
  <%=h @contact.blog %>
</p>

<p>
  <b>Facebook:</b>
  <%=h @contact.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @contact.twitter %>
</p>

<p>
  <b>Street no:</b>
  <%=h @contact.street_no %>
</p>

<p>
  <b>Street name:</b>
  <%=h @contact.street_name %>
</p>

<p>
  <b>Street type:</b>
  <%=h @contact.street_type %>
</p>

<p>
  <b>Street dir:</b>
  <%=h @contact.street_dir %>
</p>

<p>
  <b>City:</b>
  <%=h @contact.city %>
</p>

<p>
  <b>State:</b>
  <%=h @contact.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @contact.zip %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>